:root {
  --fancy-purple: #6667AB;
}

body {
  background-color: var(--fancy-purple);
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons-flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  height: 3rem;
  width: 3rem;
  color: var(--fancy-purple);
}

.logo-desc {
  margin-left: 1rem;
  color: var(--fancy-purple);
}

.custom-nav {
  display: flex;
  margin: 10% 0;
  justify-content: space-evenly;
}

.card {
  transition: transform .5s ease;
}

.card:hover {
  transform: scale(1.5);
}

.custom-link, .custom-link:visited, .custom-link:hover {
  text-decoration: none;
  color: var(--fancy-purple);
}

.no-zoom:hover, .no-zoom {
  transition: none;
  transform: none;
  background-color: var(--fancy-purple);
}