@import url('https://fonts.google.com/specimen/Roboto');

body {
  margin: 0;
  font-family: -apple-system, Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
